# VacationPy

* The scripts below will be customizing a dataset of weather to find an ideal vacation spoy from a set of parameters. I will be using Google Places API to find a hotel from the cities with the customized set of weather paramters.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import gmaps
import numpy as np
import requests
import os

# Import API key
from api_keys import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path = "output/weather_data.csv"
weather_data = pd.read_csv(csv_path)
weather_data.head(10)

,City,lat,lng,maxtemplist,Temp,Cloudiness,Wind Speed,Humidity,Country,date
0,bredasdorp,-34.53,20.04,66.20,66.20,28,12.75,52,ZA,1589558868
1,ushuaia,-54.80,-68.30,41.00,41.00,97,3.36,80,AR,1589558869
2,tuatapere,-46.13,167.68,43.09,43.09,15,4.85,85,NZ,1589558869
3,port elizabeth,-33.92,25.57,64.40,64.40,76,26.40,77,ZA,1589558782
4,kapaa,22.08,-159.32,69.80,68.18,1,6.93,88,US,1589559056
5,belmonte,-15.86,-38.88,82.40,82.40,40,9.17,74,BR,1589559057
6,mehamn,71.04,27.85,37.40,37.40,14,14.99,64,NO,1589559057
7,ribeira grande,38.52,-28.70,64.40,64.40,75,6.93,93,PT,1589559057
8,jamestown,42.10,-79.24,70.00,67.60,90,11.41,88,US,1589558881
9,severo-kurilsk,50.68,156.12,35.85,35.85,5,1.10,85,RU,1589559058

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps  with API key
gmaps.configure(api_key=gkey)

# we are plotting lat & lng against Humidity to eventually compare on a map
locations = weather_data[["lat","lng"]].astype(float)
weather_data = weather_data.dropna()
Humidity = weather_data["Humidity"].astype(float)
print(len(Humidity))
print(len(locations))

575
575

In [6]:
# Create a Heatmap that displays Humidity for every city
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=Humidity,
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Customized Weather conditions
# Max temp lower than 90 but higher the 70
# wind speed less than 15mph
# drop any rows with null values
# Be sure to limit the number of rows returned by your API request

#print(weather_data.head())
#print(weather_data.dtypes)
ideal_temp = weather_data.loc[(weather_data["Temp"]<90) & (weather_data["Temp"]>70) & (weather_data["Wind Speed"]<15)]
ideal_temp = ideal_temp.dropna()
ideal_temp.head(10)

,City,lat,lng,maxtemplist,Temp,Cloudiness,Wind Speed,Humidity,Country,date
5,belmonte,-15.86,-38.88,82.40,82.40,40,9.17,74,BR,1589559057
10,sao filipe,14.90,-24.50,76.62,76.62,0,13.31,67,CV,1589559058
11,tomigusuku,26.18,127.67,78.80,78.58,75,12.75,94,JP,1589559058
12,puerto ayora,-0.74,-90.35,80.60,78.96,40,6.93,69,EC,1589559058
16,labuan,5.28,115.24,82.40,82.20,75,3.29,94,MY,1589559059
18,tingo maria,-9.29,-76.01,77.00,77.00,90,3.36,83,PE,1589559060
24,boa vista,2.82,-60.67,87.80,87.80,40,12.75,52,BR,1589559061
26,nisia floresta,-6.09,-35.21,78.80,78.80,75,10.29,94,BR,1589559062
28,bushehr,28.97,50.84,84.20,84.20,25,4.70,51,IR,1589559062
29,panaba,21.28,-88.27,89.10,89.10,0,8.12,52,MX,1589559062

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
#  Using Google Places API to find the first hotel
# for each city located within 5000 meters of your coordinates.

In [8]:
# adding hotel column
ideal_temp['Hotel Name'] = ""
ideal_temp.head(10)

,City,lat,lng,maxtemplist,Temp,Cloudiness,Wind Speed,Humidity,Country,date,Hotel Name
5,belmonte,-15.86,-38.88,82.40,82.40,40,9.17,74,BR,1589559057,
10,sao filipe,14.90,-24.50,76.62,76.62,0,13.31,67,CV,1589559058,
11,tomigusuku,26.18,127.67,78.80,78.58,75,12.75,94,JP,1589559058,
12,puerto ayora,-0.74,-90.35,80.60,78.96,40,6.93,69,EC,1589559058,
16,labuan,5.28,115.24,82.40,82.20,75,3.29,94,MY,1589559059,
18,tingo maria,-9.29,-76.01,77.00,77.00,90,3.36,83,PE,1589559060,
24,boa vista,2.82,-60.67,87.80,87.80,40,12.75,52,BR,1589559061,
26,nisia floresta,-6.09,-35.21,78.80,78.80,75,10.29,94,BR,1589559062,
28,bushehr,28.97,50.84,84.20,84.20,25,4.70,51,IR,1589559062,
29,panaba,21.28,-88.27,89.10,89.10,0,8.12,52,MX,1589559062,

In [10]:
# line 82 on readme- use google places api to find the first hotel
# for each city located within 5000 meters of your coordinates
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey,
}
# use iterrows to iterate through dataframe
for index, row in ideal_temp.iterrows():
    lat = row['lat']
    lng = row['lng']
    params['location'] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {hotel_df}.")
    response = requests.get(base_url, params=params).json()
    
     # extract results
    results = response['results']
    
    try:
        print(f"The first Hotels is {response['results'][0]['name']}.")
        
        ideal_temp.loc[index, 'Hotel Name'] = response['results'][0]['name']
      
                    
    except (KeyError, IndexError):
        print('error')

The first Hotels is Pousada Monte Carmelo O Pão.
The first Hotels is Tortuga B&B.
The first Hotels is Nest Hotel Naha.
The first Hotels is Finch Bay Galapagos Hotel.
The first Hotels is Tiara Labuan Hotel.
The first Hotels is Hospedaje Paraíso.
The first Hotels is Aipana Plaza Hotel.
The first Hotels is Rancho Crepusculo.
The first Hotels is Yas Hotel.
The first Hotels is Hotel California.
error
error
The first Hotels is Isles Sunset Lodge.
The first Hotels is Hotel Imperador.
The first Hotels is Hotel Tesoro Los Cabos.
The first Hotels is Hotel Estância.
The first Hotels is Pondok Pesantren Al Muhajirin Atambua.
The first Hotels is Rudong Y Hotel.
The first Hotels is Courtyard by Marriott Danbury.
The first Hotels is Flat Hotel La Benediction.
The first Hotels is Hotel HORIZONTES.
The first Hotels is Kost Pria.
error
The first Hotels is Bils' Villa.
The first Hotels is Hotel Cabañas del Prado.
The first Hotels is Imperial Hotel.
The first Hotels is Paradise Inn.
The first Hotels is Hotel Maitai Polynesia.
The first Hotels is Bungalow 63.
The first Hotels is Sur Plaza Hotel.
The first Hotels is Lidera.
The first Hotels is Hotel Cabo Blanco.
The first Hotels is Gulisitan Hotel.
error
The first Hotels is Windvillage.
The first Hotels is OYO 884 Rumoh PMI Hotel.
The first Hotels is Hotel Praia Morena.
The first Hotels is Derogongan Residence.
The first Hotels is Beach Rotana.
error
The first Hotels is Banjanay Hotel.
The first Hotels is Hotel Quinta Antigua.
The first Hotels is Maringe Lagoon Lodge.
The first Hotels is Shandrani Beachcomber Resort & Spa.
The first Hotels is Hotel Maxim's.
The first Hotels is Lorengau Harbourside Hotel.
The first Hotels is Cossam Guest House.
The first Hotels is Cititel Penang.
The first Hotels is Hampton Inn Bardstown.
The first Hotels is Veranda Palmar Beach Hotel.
error
The first Hotels is Casa Tia Villa.
The first Hotels is Hotel RIKMAN Continental.
The first Hotels is COSTA AZUL ZORRITOS MANGO.
The first Hotels is Mediterranean Azur Hotel.
The first Hotels is Kuba Lodge.
The first Hotels is bador sepret.
The first Hotels is Hotel Manglares.
The first Hotels is Chik-Chik Namibe.
The first Hotels is Knights Inn Pecos.
The first Hotels is Hôtel Kamas.
The first Hotels is Hotel Vitória Palace.
The first Hotels is Hotel Ambulu Jember.
The first Hotels is Hotel y restaurante "El Diamante".
The first Hotels is Hotel Volazara.
The first Hotels is Grage Hotel Bengkulu.
The first Hotels is Hotel Uauá.
The first Hotels is مقبرة ال مجمل.
The first Hotels is Macs.
The first Hotels is Villa Enata.
The first Hotels is Hotel Best View.
The first Hotels is Orient Apartments.
The first Hotels is Container Inn Puerto Vallarta.
The first Hotels is Camp Pasica.
The first Hotels is هتل گدروشیا.
The first Hotels is Sama Emirate Hotel.
The first Hotels is Bonifacio Lodge.
The first Hotels is INN NEW HORIZON.
The first Hotels is Hotel Sentinel.
The first Hotels is רגע בנחת.
error
The first Hotels is Semnan Tourist Hotel.
The first Hotels is Hotel Cuibas.
The first Hotels is Piaçabuçu News.
The first Hotels is Elysium Hotel.
The first Hotels is Hilton Virginia Beach Oceanfront.
The first Hotels is Qingcheng Tourism Industry.
The first Hotels is Hotel Juba.
The first Hotels is Central De Autobuses De Huejuquilla El Alto.
The first Hotels is Cape View Guest House.
The first Hotels is Hôtel les Nouveaux Jardins Des Tropiques.
The first Hotels is V.B.R A/C Lodge And Function Hall.
The first Hotels is Ataíde Martins.
The first Hotels is The Westport Inn.
error
The first Hotels is Hotel Fuerte Olimpo.
The first Hotels is Mini Hotel Central.
The first Hotels is Tanal Hotel Apartment.
The first Hotels is Pousada dos Navegantes.
The first Hotels is ibis Styles Mt Isa Verona.
The first Hotels is Siang Guest House.
The first Hotels is Hotel Citra.
The first Hotels is Lambitu Hotel.
error
The first Hotels is Pirineos.
The first Hotels is Hotel Galvarino.
The first Hotels is Pousada e Hotel Litoral Sul.
The first Hotels is Hôtel Le Dronmi.
The first Hotels is Brushwood House by Smith Point Beach.
The first Hotels is Golden tent house.
The first Hotels is Bonthe Holiday Village.
The first Hotels is Hotel Nusantara Nabire.
The first Hotels is Hotel Campo Verde.
The first Hotels is Shovy's Cove.
The first Hotels is Rancho grande.
The first Hotels is Resorts Resource Group International.
error
error
The first Hotels is Vahmoneh Lodge Vanimo.
The first Hotels is Hostal casa de la rose.
The first Hotels is 900 Boutique INN.
The first Hotels is Hotel Sri Krishna Residency.
The first Hotels is Minshuku Agaihama.
The first Hotels is Swissôtel The Stamford.
The first Hotels is Rinconcito Verde.
The first Hotels is Hotel Santika Luwuk.
The first Hotels is HOTEL Sekar Sunja, Baturaja Timur, Ogan Komering Ulu.
The first Hotels is Hotel Mision Jalpan.
The first Hotels is Kirari Guest House.
The first Hotels is Elijah Worjloh.
The first Hotels is Kindness Hotel.
The first Hotels is Hotel- Restaurant Struma.
The first Hotels is Imagination Island.
The first Hotels is Sleep Inn Summerville-Charleston.
The first Hotels is HAVAY PALACE HOTEL.
The first Hotels is Avista Resort.
The first Hotels is Ha'apai Beach Resort.
The first Hotels is Hotel Cortez.
The first Hotels is Hotel Briliá.
The first Hotels is NALPHIN HOTEL.
The first Hotels is Pousada Dona Tuca.
The first Hotels is Hospedaje San Jacinto.
The first Hotels is Hotel Aconcagua.
The first Hotels is hotêl doufoulougou.
error
The first Hotels is Hotel José Pereira.
The first Hotels is Hospedaje "Señor De Muruhuay".
The first Hotels is Trou aux Biches Beachcomber Golf Resort & Spa.
The first Hotels is Villa Bella.
The first Hotels is Hôtel De Ville De Yokadouma.
The first Hotels is La Vignazza B&B.
The first Hotels is HS Hotsson Smart Acapulco.
The first Hotels is Eco Divers Lembeh Cottages.
The first Hotels is Hotel Memory.
The first Hotels is Guest House HESADA.
The first Hotels is The Assemblage Point Resort and Convention Hub.
The first Hotels is Raybow International Hotel.
The first Hotels is Shangping Shuyuan Inn.
The first Hotels is Cristalina Palace Hotel.
error
The first Hotels is Hotel Olako.
error
The first Hotels is သက်တန့်အိမ်.
The first Hotels is Hotel Perla del Pacífico.
The first Hotels is Iglesia morava renovada.
The first Hotels is Bora-Bora Pearl Beach Resort & Spa.
The first Hotels is Hospedaje Punta Cana PERU.
The first Hotels is Hotel Del Principe.
The first Hotels is Vila.
The first Hotels is Holiday Inn & Suites Opelousas.
The first Hotels is Veranda Paul et Virginie Hotel & Spa.
The first Hotels is Andradas Palace Hotel.
error
The first Hotels is Casa Hotel Victoria.
The first Hotels is مزرعة راحة النفوس المنزفة.
The first Hotels is Hua Ling Grand Hotel Urumqi.
The first Hotels is Kings Inn Paris TX.
error
The first Hotels is Hotel Marti.
The first Hotels is Cj's Travellers Inn.
The first Hotels is Tarawa Boutique Hotel.
The first Hotels is Hotel Kou-Bugny.
The first Hotels is Manish Hotel Ecológico.
The first Hotels is Heritage Park Hotel.
The first Hotels is Grand Hotel President.
The first Hotels is RVF cebu lechon.
The first Hotels is Hotel Obelisco.
The first Hotels is Maqna Hotel by Prasanthi.
error
The first Hotels is Quinta Samay.
The first Hotels is Sing and Swing Lodge.
The first Hotels is Gtr homes.
The first Hotels is Mercure Padang.
The first Hotels is Gîte kajeon.

In [11]:
#hotel_df
hotel_df = ideal_temp
hotel_df

,City,lat,lng,maxtemplist,Temp,Cloudiness,Wind Speed,Humidity,Country,date,Hotel Name
5,belmonte,-15.86,-38.88,82.40,82.40,40,9.17,74,BR,1589559057,Pousada Monte Carmelo O Pão
10,sao filipe,14.90,-24.50,76.62,76.62,0,13.31,67,CV,1589559058,Tortuga B&B
11,tomigusuku,26.18,127.67,78.80,78.58,75,12.75,94,JP,1589559058,Nest Hotel Naha
12,puerto ayora,-0.74,-90.35,80.60,78.96,40,6.93,69,EC,1589559058,Finch Bay Galapagos Hotel
16,labuan,5.28,115.24,82.40,82.20,75,3.29,94,MY,1589559059,Tiara Labuan Hotel
...,...,...,...,...,...,...,...,...,...,...,...
565,muisne,0.60,-80.03,82.40,82.40,75,4.70,88,EC,1589559206,Quinta Samay
567,balabac,7.99,117.06,84.00,84.00,24,4.12,73,PH,1589559207,Sing and Swing Lodge
569,point pedro,9.82,80.23,84.79,84.79,96,3.53,80,LK,1589559207,Gtr homes
573,padang,-0.95,100.35,81.16,81.16,100,3.18,80,ID,1589559209,Mercure Padang
577,poum,-20.23,164.02,73.58,73.58,100,4.16,67,NC,1589559211,Gîte kajeon

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [14]:
# line 84 readme
# plot the hotels on top of the Humidity heatmap with each pin containing the Hotel name, city and country


# Add marker layer ontop of heat map
map_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(map_layer)

fig

Figure(layout=FigureLayout(height='420px'))